{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ project.title }}</h1>
<div style='padding-bottom: 20px' class="row">
  <div class="col-md-8">
    {% if project.videoURL != '' %}
    <iframe width="100%" height="400" src="{{ project.videoURL }}" allowfullscreen="allowfullscreen">
    </iframe>
    {% else %}
    <img src="{% static project.image %}" alt="" width="100%">
    {% endif %}
  </div>
  <div class="col-md-4">
    <h5>About the project:</h5>
    <p>{{ project.longDescription }}</p>
    <br>
    <h5>Technology used:</h5>
    <p>{{ project.technology }}</p>
    {% if project.projectLink != '' %}
    <h5><a href="{{ project.projectLink }}" target='_blank'>View Live</a></h5>
    {% else %}
    <h6><i>Regrettably, this project is not currently deployed.</i></h6>
    {% endif %}
  </div>
</div>
{% endblock %}